@import url('../css/vars.css');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");


/*===== BASE =====*/
*, ::before, ::after {
    box-sizing: border-box;
  } 
  body {
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    color: #fff;
    background-color: #000;
  } 
  h1, h2, p {
    margin: 0;
  } 
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  a {
    text-decoration: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
    display: block;
  }